fly.toml
.git/
*.sqlite3

# Ignore development experiments
*.ipynb
.ipynb_checkpoints/
experiments/
data/

# Ignore Python "junk"
__pycache__/
*.pyc
.venv/
env/

# Ignore local secrets and git
.env
.git
.gitignore